.profile-svg{
    height: 80px;
}
.profile-text{
    padding-left: 3rem;
    padding-right: 3rem;
}
@media screen and (max-width: 412px) {
    .profile-svg{
        display: none;
    }
    .profile-text{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .profile{
        justify-content: center;
    }
    
  }
  @media screen and (max-width:768px){
    .courses h4{
        margin-top: 1.5rem !important;
    }
    .courses{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
  body{
    background-color: #FAF9F6;
  }